<ion-header>
  <ion-toolbar> <ion-title> Ionic Blank </ion-title> </ion-toolbar>
</ion-header>

<ion-content>
  <br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br />
  <form>
    <ion-item><ion-input type="text" placeholder="ion-input"></ion-input></ion-item>
    <input placeholder="input" />
  </form>
</ion-content>
