<ion-header>
  <ion-toolbar> <ion-title> Ionic Blank </ion-title> </ion-toolbar>
</ion-header>

<ion-content>
  <br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <br /><ion-input type="text" placeholder="ion-input"></ion-input> <input placeholder="input" />
</ion-content>
